<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <style>
        body{
            width: 100%; 
            height: 100%; 
            margin: 0 !important; 
            padding: 0 !important; 
            font-family: 'Lato', sans-serif;
            background-color: #d3dce6; 
        }

        a{
            text-decoration: none;
        }

        #content{
            margin-left: 10%; 
            margin-right: 10%; 
            margin-top: 5%; 
            margin-bottom: 5%; 
            height: 95%; 
            padding: 5%; 
            border-radius: 10px; 
            font-size: 25px;
            background-color: #d3dce6; 
        }

        #main-content{
            text-align: center
        }

        #passwordRecovery{
            background-color: #0471a1;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 10px;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Olá, <%= @user.username %>!</h1>
        <div id="main-content">
            <p>Se você solicitou a redefinição de sua senha, por favor clique no botão abaixo.</p>
            <a href=<%="http://psicologia.ip.usp.br:4000/user/reset_password/#{@user.password_reset_token}"%>> 
                <button id="passwordRecovery">Redefinir Senha</button>
            </a>
            <p>O link do botão acima expira em 24h</p>
            <p>Se você não solicitou a redefinição de sua senha, ignore este e-mail.</p>
        </div>
        <p>Atenciosamente,<br>Equipe Portal Aberto</p>
    </div>
</body>
</html>
